# ---------------------------------------------------------
# DEPENDÊNCIAS DO PROJETO: PORTFÓLIO PROFISSIONAL
# ---------------------------------------------------------
# Este arquivo centraliza a instalação redirecionando para
# as configurações de desenvolvimento local.
# ---------------------------------------------------------

-r requirements/local.txt

# ---------------------------------------------------------
# Para instalar (Desenvolvimento): pip install -r requirements.txt
# ---------------------------------------------------------
